<div class="acceuil">
  <img src="/src/assets/img/page_acceuil.jpg" alt="page d'acceuil" style="height:600px; width:100%;">
  <button class="btn" routerLink="login"><i class="fa fa-sign-in-alt"></i>login</button>
</div>

<div class="jumbotron" style="margin-top:10px; text-align: center">
  <h2>here some information about me</h2> 
</div>
